.container{ 
    width: 100%;
    height: 100vh;
}

.volunteer-head{
    margin-top: 150px;
    text-align: center;
    font-size: 28px;
    color: #07809e;
}

.volunteer-body{
    margin: 20px 200px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-size: 18px;
    text-align: justify;
}

.volunteer-subhead{
    margin: 5px 200px;
    font-size: 20px;
}

@media(max-width: 767px){
    .volunteer-head{
        margin-top: 100px;
    }

    .volunteer-body{
        margin: 10px 50px;
    }
    .volunteer-subhead{
        margin: 20px 50px;
    }
}